name: OdinPack Builder

on:
  workflow_dispatch:
    inputs:
      DEVICE_CODES:
        description: "Device codes (comma-separated)"
        required: true
        type: string
      RECOVERY_URL:
        description: "Link to recovery.img or tar"
        required: true
        type: string
      VBMETA_URL:
        description: "Link to vbmeta.img or tar"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create workspace
        run: mkdir work

      - name: Download files
        run: |
          cd work
          wget -O recovery_download "${{ github.event.inputs.RECOVERY_URL }}"
          wget -O vbmeta_download "${{ github.event.inputs.VBMETA_URL }}"

      - name: Extract recovery safely
        run: |
          cd work
          if tar -tf recovery_download > /dev/null 2>&1; then
            mkdir rec_extract
            tar -xf recovery_download -C rec_extract
            REC=$(find rec_extract -type f | head -n 1)
            cp "$REC" recovery.img
          else
            cp recovery_download recovery.img
          fi

      - name: Extract vbmeta safely
        run: |
          cd work
          if tar -tf vbmeta_download > /dev/null 2>&1; then
            mkdir vbm_extract
            tar -xf vbmeta_download -C vbm_extract
            VBM=$(find vbm_extract -type f | head -n 1)
            cp "$VBM" vbmeta.img
          else
            cp vbmeta_download vbmeta.img
          fi

      - name: Create Name Tag
        id: name
        run: |
          RAW="${{ github.event.inputs.DEVICE_CODES }}"
          CLEAN=$(echo "$RAW" | tr ',' '\n' | sed 's/ //g' | sed '/^$/d')
          array=($CLEAN)

          DATE=$(date +%Y%m%d)

          DEV_TAG=$(printf "%s-" "${array[@]}")
          DEV_TAG=${DEV_TAG%-}   # remove last dash

          TAR_NAME="ArtisanROM-${DEV_TAG// /-}-$DATE.tar"

          echo "TAR_NAME=$TAR_NAME" >> $GITHUB_OUTPUT
          echo "DATE=$DATE" >> $GITHUB_OUTPUT
          echo "DEVS=$RAW" >> $GITHUB_OUTPUT
          echo "TAGDEVS=$DEV_TAG" >> $GITHUB_OUTPUT

      - name: Create OdinPack
        run: |
          cd work
          tar -cf "${{ steps.name.outputs.TAR_NAME }}" recovery.img vbmeta.img

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "artisanrom-${{ steps.name.outputs.DATE }}-${{ steps.name.outputs.TAGDEVS }}"
          name: "ArtisanROM Build - ${{ steps.name.outputs.DATE }}"
          body: |
            **Devices in this build:**
            ${{ steps.name.outputs.DEVS }}
          files: work/${{ steps.name.outputs.TAR_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
